.elementor-12 .elementor-element.elementor-element-1d3fd57 > .elementor-widget-container{margin:70px 0px 70px 0px;}@media(min-width:768px){.elementor-12 .elementor-element.elementor-element-8cc569a{width:64.911%;}.elementor-12 .elementor-element.elementor-element-df7e0d9{width:35%;}}/* Start custom CSS for section, class: .elementor-element-173e2cc7 *//*.val_login_in_checkout {*/
/*    display: block !important;*/
/*} *//* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-425679f */article#post-12 div#customer_login .col-1{
    display:block;
}

article#post-12 div#customer_login .col-2{
    
    display:none;
    
}/* End custom CSS */